menu "iVeia Titan Processing Modules"

source "drivers/char/ocp/Kconfig"

source "drivers/char/zap_intr/Kconfig"

source "drivers/char/spi_char/Kconfig"

source "drivers/char/zap/Kconfig"

source "drivers/char/events/Kconfig"

source "drivers/char/iomem/Kconfig"

source "drivers/char/iv_atlas_i_lpe_gfspi/Kconfig"

source "drivers/char/iv_bitbanged_i2c/Kconfig"

endmenu
